<template>
  <div id="app" class="fluid container">
    <div  class="col-md-3">
        {{statusMessage}}
        <tree :data="tree" childrenAttr="nodes" @changePosition="changePosition">
          <template slot-scope="{item}">
            <span v-if="nodeHasChildrens(item)">({{item.id}}): {{item.name}}</span>
            <span v-else>({{item.id}}): sum = {{ getLeafNumber(item) }}</span>
            <div class="edit-node">
              <div class="add" @click="addNode(item)">+</div>
              <div v-show="item.parentId" class="delete" @click="deleteNode(item)">x</div>
            </div>
          </template>
        </tree>
    </div>
  </div>
</template>

<script>

import SortableTree from 'vue-sortable-tree'

const endpoint = "http://localhost:8080/";

export default {
  name: "App",
  components: {
    tree: SortableTree
  },
  data() {
    return {
      statusMessage: '',
      tree: {
        nodes: []
      },
      treeResource: null,
      nodesList:[],
      counter: 1
    };
  },
  mounted() {
    this.treeResource = this.$resource(endpoint+'nodes/{id}',{}, {update: {method: 'PUT'}});
    this.initTree();
  },
  methods: {
    initTree() {
      this.treeResource.get().then(
            response => {
              this.nodesList = response.body;
              this.counter = response.body.length;
              this.tree.nodes = this.toTree(this.nodesList);
            },
            response => {
              this.statusMessage = "Tree couldn't be loaded"
            }
          );
    },
    toTree (nodesList) {
      var that = this;
      var tree = nodesList.slice(0);

      nodesList.forEach(node => {
        if(node.parentId === null) {
            that.tree = node;
        } else {
          var parent = that.findParent(node, nodesList);

          if (parent) {
            if(parent.nodes === undefined) {
              this.$set(parent, 'nodes', []);
            }
            parent.nodes.push(node);
            tree.splice(tree.indexOf(node), 1);
          }
        }
      });
      nodesList = tree;
    },
    addNode(parent){
      this.counter = this.counter + 1;
      this.treeResource.save(JSON.stringify({name: this.counter, parentId: parent.id})).then(
            response => {

              if(parent.nodes === undefined) {
                this.$set(parent, 'nodes', []);
              }

              this.statusMessage = "Node added"
              parent.nodes.push(response.body)

            },
            response => {
              this.statusMessage = "Unable to update node"
            }
          );
    },
    deleteNode(node){

      this.treeResource.delete({id: node.id}).then(
        response => {

          this.statusMessage = "Node deleted"
          this.removeNodeFromTree(this.tree, node.id)

        },
        response => {
          this.statusMessage = "Unable to delete node"
        }
      );
    },
    changePosition(e) {
      e.data.parentId = e.afterParent.id;
      this.treeResource.update({id: e.data.id}, e.data).then(
            response => {
            },
            response => {
              this.statusMessage = "Unable to update node"
            }
          );
    },
    findParent(node, nodesList) {
      var parent = null;
      var that = this;
      if(node.parentId === null || !nodesList)
      {
        return parent;
      }
      for(let i = 0; i < nodesList.length; i++) {
        if(nodesList[i].id === node.parentId){
          return nodesList[i];
        } else {

          parent = that.findParent(node, nodesList[i].nodes);

          if(parent !== null) {
           return parent;
          }
        }
      }
      return parent;
    },
    removeNodeFromTree(currentNode, id) {
      if(typeof (currentNode.nodes) !== 'undefined' ) {
          for (var i = 0; i < currentNode.nodes.length; i++) {
            if (currentNode.nodes[i].id === id) {
              currentNode.nodes.splice(i, 1);
              return null;
            } else {
              var node  = this.removeNodeFromTree(currentNode.nodes[i], id);
              if(node) {
                currentNode = node;
              }
            }
          }
      }
    },
    getLeafNumber(leaf) {
      var sum = 0;
      if(typeof(leaf.id) !== 'undefined') {
        var currentNode = leaf;
        while(currentNode.parentId !== null) {
          currentNode = this.findParent(currentNode, this.nodesList);
          if(currentNode != null){
            sum += currentNode.id;
          }
        }
      }
      return sum;
    },
    nodeHasChildrens(node) {
      return node.nodes && node.nodes.length > 0;
    }
  }
};
</script>

<style>
  .edit-node {
    display: inline;
  }
  .add{
    display: inline;
    cursor: pointer;
  }
  .delete{
    display: inline;
    cursor: pointer;
  }
</style>
